.slider-hero {
  .swiper-container {
    width: 100%;
    height: 100%;
    background: url(../../assets/slider-bg.svg) no-repeat;
    background-size: unset;
    background-position: center;

    .swiper-button-prev,
    .swiper-button-next {
      outline: none;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 0;
      width: 117px;
      height: 80px;
      display: flex;
      align-items: center;
      left: -49.5px;
      background: #ffffff;
      border: 2px solid rgba(38, 34, 98, 0.3);
      box-sizing: border-box;
      border-radius: 90px;
      justify-content: flex-end;
      padding-right: 24px;
      color: #262262;
      &::after {
        font-size: 26px;
      }
    }

    .swiper-button-next {
      left: initial;
      right: -40px;
      justify-content: flex-start;
      padding-left: 24px;
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 208px;
    padding-bottom: 200px;

    h4 {
      font-style: normal;
      font-weight: normal;
      font-size: 60px;
      line-height: 70px;
      text-align: center;
      color: #262262;
      max-width: 795px;
      span {
        font-weight: bold;
      }
    }
  }
  .slider-btn {
    cursor: pointer;
    position: absolute;
    top: 40%;
    z-index: 10;
    &.next {
      right: 0px;
    }
  }
}
