.about-a {
  margin-top: 250px;
  margin-bottom: 100px;
  .left-img {
    position: absolute;
    background-image: linear-gradient(
        90deg,
        #262262 0%,
        rgba(38, 34, 98, 0.3) 100%
      ),
      url(../../assets/work.jpg);
    opacity: 0.8;
    border-radius: 6px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-size: cover;
    height: 360px;
    width: 58%;
  }
}
.right-activity {
  background: linear-gradient(78.76deg, #0751c0 0%, #771fe8 100%);
  border-radius: 6px;
  padding: 36px 40px;
  .a-left {
    width: 59%;
    margin-right: 20px;
    .title {
      margin-bottom: 30px;
    }
  }
}
