///RATE IT
.rate-it {
  background: linear-gradient(90deg, #771fe8 32.29%, #0751c0 73.44%);
  height: 645px;
  width: 100%;
  position: relative;
  box-shadow: 0px -40px 50px #e8e8e8;
}
.rate-it {
  .content {
    position: relative;
    display: flex;
    justify-content: space-between;
    h4 {
      margin-top: 130px;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      text-align: center;
      color: #ffffff;
    }
  }
  .card {
    position: relative;
    position: absolute;
    top: -110px;
    &.right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      right: 0;
      .card-title {
        h4 {
          text-align: right;
          white-space: nowrap;
          &::before {
            left: inherit;
            right: 0;
          }
        }
      }
    }
  }

  .card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    h4 {
      position: relative;
      margin-bottom: 20px;
      text-align: left;
      white-space: nowrap;
      line-height: 80px;
      &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        bottom: 0;
        left: 0;
        background: #fff;
      }
    }
    p {
      margin-top: 30px;
    }
  }
}
//progress

.content {
  &.pb {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -57px;
    left: 50%;
    transform: translateX(-50%);
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 364.27px;
      height: 80.95px;
      background: #ffffff;
      border-radius: 63.3837px;

      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      top: -14px;
      left: 50%;
      transform: translateX(-50%);
      width: 172px;
      height: 172px;
      background: #ffffff;
      border-radius: 50%;
      z-index: 2;
    }
  }
}
.CircularProgressbar {
  max-width: 144px;
  position: relative;
  z-index: 3;
  overflow: visible;
  .CircularProgressbar-trail {
    stroke: #ad00ff !important;
  }
  .CircularProgressbar-path {
    stroke-width: 7px;
    stroke-linecap: butt !important;
    stroke: #0066ff !important;
    transform: rotate(30deg);
    transform-origin: 50% 50%;
  }
  .CircularProgressbar-text {
    font-weight: 500;
    font-size: 26px !important;
    line-height: 26px;
    fill: #0066ff;
    margin: auto 0;
    transform: translateX(86px) translateY(2px);

    font-family: "Roboto";
    position: absolute;
  }
}
.until {
  font-weight: 500;
  font-size: 36.6556px;
  line-height: 26px;
  color: #ad00ff;
  margin: auto 0;
  transform: translateX(90px);
  font-family: "Roboto";
  position: absolute;
  top: 60px;
  left: -175px;
  z-index: 7;
}
.content {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  .rateit {
    margin: 130px auto 20px auto;
  }
}

.range-slider {
  position: relative;
  width: 100%;

  .range-slider-lines {
    position: absolute;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    width: calc(100% + -3px);
    left: 15px;
    height: 20px;
    top: 25px;
    z-index: 10;

    span {
      display: flex;
      width: 100%;

      &:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 10px;
        background: #fff;
        opacity: 0.5;
      }

      &:nth-child(5n + 1) {
        &:before {
          height: 15px;
        }
      }
    }
  }

  .rangeslider-horizontal {
    height: 30px;
    border-radius: 90px;
    border: 2px solid #fff;
    background: #0066ff;
    box-shadow: 0px 0px 8.4px rgba(0, 0, 0, 0.5);

    .rangeslider__fill {
      background-color: #ad00ff;
      border-radius: 90px 0 0 90px;
    }

    .rangeslider__handle {
      outline: none;
      border-radius: 0;
      border: none;
      background-color: transparent;
      box-shadow: none;
      top: 5px;

      .rangeslider__handle-label,
      &:after {
        outline: none;
        border-radius: 0;
        border: none;
        height: 0;
        top: inherit;
        transform: scaleX(0.9);
        bottom: 0;
        border-top: 20px solid #fff;
        border-bottom: 20px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        background-color: transparent;
        border-radius: 3px;
      }
    }
    .rangeslider__handle:after {
      transform: scaleX(1.1);
      position: absolute;
      left: 0;
      border-top-color: #202020;
      opacity: 0.5;
      filter: blur(4px);
      z-index: -1;
    }
  }
}

.slider-text {
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;

  span {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #ffffff;
  }
}
.vs {
  position: absolute;
  z-index: 13;
  top: 50%;
  transform: translateY(-50%);
  font-style: normal;
  font-weight: 500;
  font-size: 48.8742px;
  line-height: 57px;
  color: #d2d2d2;
}
.push-btn {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  .push {
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 25px;
    background: #ffffff;
    border: none;
    padding: 13px 21px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #262262;
    margin: 0 auto;
    svg {
      margin-left: 45px;
      font-size: 16px;
    }
  }
}
