.countdown {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 193px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 13.54%,
      #ffffff 100%
    );
  }
  .container {
    position: relative;
  }
  .content {
    background: #262262;
    border-radius: 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 38px 10px 50px 10px;
    position: absolute;
    top: -231px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;

    .times {
      margin-bottom: 55px;
      display: flex;
      justify-content: center;
    }
    .timebox {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 40px;
      .title {
        white-space: nowrap;
        display: flex;
        align-items: center;
      }
    }
    .to-calendar {
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        margin-right: 27px;
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    &.countdown {
      margin-bottom: 360px;
    }
    .times {
      flex-wrap: wrap;
      align-items: flex-start;
      .timebox {
        max-width: 60%;
        margin-bottom: 24px;
      }
    }
    .timebox {
      display: inline-box;
    }
  }
  @media only screen and (max-width: 600px) {
    &.countdown {
      margin-bottom: 560px;
    }
    .times {
      flex-direction: column;
    }
  }
}
.mr-26 {
  margin-right: 26px;
}

svg {
  path {
    &:nth-child(2) {
      stroke-width: 2.7px;
    }
  }
}
