header {
  position: relative;
  padding: 0px 10px;
  box-shadow: 10px 50px 50px rgba(38, 34, 98, 0.1);
  --color: #fff;
  background-color: var(--color);
  justify-content: center;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    background: #262262;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .content {
    padding: 40px 0px 20px 0;
    width: 1360px;
    position: relative;
  }
  .navbar {
    display: flex;
    align-items: center;
    li {
      height: 100%;
      padding: 12px 30px;
      border-right: 1px solid #26226220;
      &:nth-child(4) {
        border-right: none;
      }
    }
  }

  .logo {
    width: 109px;
    img {
      position: absolute;
      right: 0px;
      top: 10px;
      width: 11.2%;
      height: 120px;
    }
  }

  .logo-r {
    max-width: 109px;
  }

  @media only screen and (max-width: 1240px) {
    .logo {
      display: none;
    }
  }
  @media only screen and (max-width: 1080px) {
    .navbar {
      display: none;
    }
  }
}
