footer {
  border-top: 1px solid #d4d3e0;
  padding: 20px 0;
  .information {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #262262;
    margin-right: 27px;
  }
  .footer-menu {
    border-left: solid 1px #d4d3e0;
    padding-left: 30px;
    line-height: 40px;
    ul {
      display: flex;
      li {
        white-space: nowrap;
        margin-right: 22px;

        &:first-child {
        }
      }
    }
  }
  .f-logos {
    clear: right;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      white-space: nowrap;

      color: rgba(38, 34, 98, 0.5);
    }
    img {
      margin-left: 28px;
    }
  }
}
