.question-comment {
  margin-bottom: 52px;
  .q-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(78.76deg, #0751c0 0%, #771fe8 100%);
    border-radius: 6px;
    padding: 35px 40px;

    p {
      max-width: 69%;
    }
  }
}

.posts {
  background: #e9e8ee;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  max-width: 990px;
  margin: 0 auto;
  padding: 40px;
  h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #262262;
    margin-bottom: 9px;
  }
}
.add-post {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border: 2px solid #0066ff;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 13px 15px 22px;
  margin-bottom: 32px;
}
.all-post {
  .item {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    .number {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      color: #0066ff;
      padding: 10.5px 17px 10.5px 11px;
    }
    .description {
      width: 100%;
      border-left: 1px solid #d4d3e0;
      border: 100%;
      padding-left: 18px;
      line-height: 40px;
    }
    button {
      padding-right: 13px;
    }
  }
}
.close {
  font-size: 18px;
  line-height: 125%;
  color: #a4a1c6;
  background: none;
  border: none;
}
.mmx {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
