@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "bootstrap/dist/css/bootstrap-grid.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  overflow: hidden;
}

.container {
  max-width: 1310px;
  padding: 0 10px;
}
.row {
  margin: 0 -10px;
}
[class*="col-"] {
  padding: 0 10px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

//BUTTONS
.btn {
  background: #ffffff;
  border: 2px solid #d4d3e0;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 13px 24.5px;
  &.style-add {
    background: transparent;
    border: 2px solid #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
  }
  &.post {
    background: #0066ff;
    border-radius: 6px;
    border: none;
    color: #fff;
    padding: 13.5px 38.5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
}

//LINKS
.link {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #262262;
  &.blue {
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #0751c0;
  }
  &.f-link {
    font-size: 14px;
    line-height: 16px;
  }
}

//TITLES

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #ffffff;
  &.bold-mini {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
  }
  &.normal-mini {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    &.size-mini {
      font-weight: normal;
      font-size: 18px;
    }
  }
  &.min {
    font-size: 16px;
    color: #262262;
    line-height: 125%;
    &.xmin {
      font-size: 15px;
    }
  }
  &.time {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42.3529px;
    line-height: 50px;
    color: #ffffff;
  }
  &.activity-head {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #0751c0;
    &.date {
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #262262;
    }
    &.activity-time {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #262262;
    }
  }
  &.rateit {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    span {
      text-decoration: underline;
    }
  }
}

//LINES
.lines {
  margin-bottom: 50px;
  position: relative;
  z-index: 9999;
  text-align: center;
  padding: 0 20px;
  &.dark {
    margin-bottom: 50px;
    position: relative;
    z-index: 9999;
    text-align: center;
    padding: 0 20px;
    color: #262262;
    &::before {
      background: #262262;
      width: 35%;
    }
    &::after {
      background: #262262;
      width: 35%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    width: 30%;
    height: 1px;
    background: #d4d3e0;
    z-index: -1;
    opacity: 0.3;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    width: 30%;
    height: 1px;
    background: #d4d3e0;
    z-index: -1;
    opacity: 0.3;
  }
}
