.slider-activity {
  margin-bottom: 50px;

  .swiper-container {
    padding: 0 28px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(38, 34, 98, 0.2);
    border-radius: 6px;
    display: flex;
    position: relative;
    max-height: 139px;

    .swiper-button-prev,
    .swiper-button-next {
      top: 0;
      margin-top: 0;
      width: 28px;
      height: 100%;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      z-index: 5;
      &::after {
        font-size: 20px;
        color: #262262;
        z-index: 999;
      }
    }

    .swiper-button-next {
      left: initial;
      right: 0;
      border-left: 1px solid #d4d3e0;
    }
  }
  .swiper-slide {
    position: relative;
    .slide-content {
      padding: 26.5px 20px;
      &::before {
        content: "";
        position: absolute;
        top: 33px;
        left: -4.5px;

        height: 9px;
        width: 9px;
        border-radius: 50%;
        background: #0751c0;
        z-index: 8;
      }
    }
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        270deg,
        #d4d3e0 0%,
        rgba(212, 211, 224, 0) 50%
      );
      opacity: 0.2;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-left: 1px solid #d4d3e0;
    }
    h5 {
      margin-bottom: 24px;
    }
    h6 {
      margin-bottom: 3px;
    }
  }
}
